# TITLE HERE

Members:

Date:

In [94]:
#1 Packages
import numpy as np
import pandas as pd

#2 Data
data_bmw = pd.read_csv("data\\BMW_Data.csv") #or if its a .json file pd.read_json
data_cars = pd.read_csv("data\\bmw.csv")

## Hypothesis

## Data Pre-Processing

In [ ]:
# remove irellevant columns
data_cars = data_cars.drop(columns=['mileage','transmission','mileage','fuelType','tax','mpg','engineSize'])
                                    
# since our stock data starts at 1996, we will gather all cars that had at least one model since 1996
data_cars = data_cars[data_cars["year"] >= 1996]

data_cars = data_cars.sort_values(by=["year"], ascending=True)

data_cars

          model  year  price
9625   5 Series  1996   5995
9841         Z3  1997   3950
9842         Z3  1998   3950
9560         Z3  1999   3995
9744   3 Series  1999   1200
...         ...   ...    ...
5128   3 Series  2020  36999
1771         X6  2020  65352
5588   8 Series  2020  66991
2013   2 Series  2020  25603
3838   5 Series  2020  35500

[10781 rows x 3 columns]

## Data Visualizations

## Conclusions

## Potential Limitations

## Sources